
.main-recommendations{
    display: flex;
    min-height: 160vh;
    background-color: var(--darkest-color);
    margin: 0;
}
.main-rec-container{
    position: relative;
    background-color: var(--dark-color);
    width: 95%;
    min-height: 150vh;
    margin: auto;
    border-radius: 10px;
}

.rec-container{
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto;
}
.main-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
    margin-top: 60px;
}
.main-info{
    width: 90%;
}

.artist-name{
    margin-top: 50px;
}

.main-info p{
    margin-top: 40px;
}

.main-info a{
    display: block;
    margin-top: 40px;
    margin-left: 0;
    width: 9em;
    text-align: center;
}

.ul-rec{
    list-style: none;
    text-align: center;
}
.ul-rec li{
    display: inline-block;
    margin-inline: 0.5rem;
    padding: 0.5rem;
}
.test1{
    width: 640px;
    height: 640px;
    background-color: aqua;
    border-radius: 10px;
}
.test2{
    width: 300px;
    height: 300px;
    background-color: blue;
    border-radius: 10px;
}