@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kanit&display=swap');
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* COLOR */
    --brand-color: #84CC16;
    --dark-color: #010d18;
    --darkest-color: #000000;
    --mid-color: #03012C;
    --light-color: #F5F5F5;
    --font-color: #F5F5F5;

    /* FONT */
    --ff: 'Kanit', sans-serif;
    --ff-headings: 'Comfortaa', cursive;
    --fs: clamp(1rem, 2.2vh, 1.5rem);
}

/* MISC */
.nowrap {
    white-space: nowrap;
}

.center{
    text-align: center;
}

/* RESET */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

image{
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    font-weight: 500;
    color: var(--light-color);
    text-decoration: inherit;
}

a:hover {
    color: var(--light-color);
}

body {
    min-height: 100vh;
    background-color: var(--darkest-color);
    scroll-behavior: smooth;
    font-size: var(--fs);
    font-family: var(--ff);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}