@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kanit&display=swap');
:root {
    color: var(--col-text);
    

    /* COLOR */
    --col-text: #f0e6d3;
    --brand-color: #84CC16;
    --dark-color: #010d18;
    --darkest-color: #000000;
    --mid-color: #03012C;
    --light-color: #F5F5F5;
    --font-color: #F5F5F5;

    /* FONT */
    --ff: 'Kanit', sans-serif;
    --ff-headings: 'Comfortaa', cursive;
    --fs: clamp(1rem, 2.2vh, 1.5rem);
}

/* MISC */
.nowrap {
    white-space: nowrap;
}

.center{
    text-align: center;
}

/* RESET */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    line-height: 1.15;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

.main-body {
    background-color: var(--darkest-color);
    scroll-behavior: smooth;
    font-size: var(--fs);
    font-family: var(--ff);
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}